<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Post</title>

    <link rel="stylesheet" href="/show.css">
</head>
<body>

<div class="container">

    <div class="card">

        <div class="avatar">
            <%= post.username.charAt(0).toUpperCase() %>
        </div>

        <h2>Post Details</h2>

        <div class="line"></div>

        <p class="content">
            <strong>ID:</strong> <%= post.id %>
        </p>

        <p class="content">
            <strong>Username:</strong> @<%= post.username %>
        </p>

        <p class="content">
            <strong>Content:</strong><br><br>
            <%= post.content %>
        </p>

 <div class="buttons">

    <a href="/posts/<%= post.id %>/edit" class="edit-btn">
        ✏ Edit
    </a>

    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit">
            🗑 Delete
        </button>
    </form>

    <a href="/posts" class="back-btn">
        ← Back
    </a>

</div>
    </div>

</div>

</body>
</html>